// main: ../style.less

.task {
    background-color: @task;
    display: flex;
    box-shadow: 0 0 2vw rgba(0,0,0,0.2);
}

.task__left {
    height: 70vh;
    width: 50%;
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        left: 2vw;
        right: 0;
        top: 2vw;
        bottom: 0;
        z-index: 1;
        background: url(../img/logo.svg) left top no-repeat;
        background-size: 20%;
    }
}

.task__right {
    height: 60vh;
    position: relative;
    width: 50%;
}

.allformsinright {
    padding-left: 10%;
    padding-right: 10%;
}